parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: Model.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: Model.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: Model.php

		-
			message: '#^Method Siro\\Core\\Model\:\:find\(\) should return static\(Siro\\Core\\Model\)\|null but returns Siro\\Core\\Model\.$#'
			identifier: return.type
			count: 1
			path: Model.php

		-
			message: '#^Method Siro\\Core\\Model\:\:hydrateAll\(\) should return array\<int, static\(Siro\\Core\\Model\)\> but returns array\<int, Siro\\Core\\Model\>\.$#'
			identifier: return.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#1 \$string of function strtolower expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#2 \$columns of method Siro\\Core\\DB\\ModelQueryBuilder\:\:eagerLoad\(\) expects array\<int, string\>, array\<int\|string, array\<int, string\>\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#2 \$eagerLoads of method Siro\\Core\\DB\\EagerLoader\:\:load\(\) expects array\<string, array\<int, string\>\>, array\<string, array\<int\|string, array\<int, string\>\|string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#4 \$foreignValue of class Siro\\Core\\DB\\Relations\\BelongsTo constructor expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#4 \$localValue of class Siro\\Core\\DB\\Relations\\HasMany constructor expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#4 \$localValue of class Siro\\Core\\DB\\Relations\\HasOne constructor expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#6 \$localValue of class Siro\\Core\\DB\\Relations\\BelongsToMany constructor expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: Model.php
