parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$options of function curl_setopt_array expects array\{10002\: non\-empty\-string, 19913\: bool, 13\: int, 78\: int, 52\: bool, 68\: int, 42\: bool, 181\: int, \.\.\.\}, array\{10002\: string, 19913\: true, 13\: int, 78\: 10, 52\: true, 68\: 5, 42\: true, 181\: 3, \.\.\.\} given\.$#'
			identifier: argument.type
			count: 1
			path: Http.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: Model.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: Model.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: Model.php

		-
			message: '#^Method Siro\\Core\\Model\:\:find\(\) should return static\(Siro\\Core\\Model\)\|null but returns Siro\\Core\\Model\.$#'
			identifier: return.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#1 \$string of function strtolower expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#2 \$columns of method Siro\\Core\\DB\\ModelQueryBuilder\:\:eagerLoad\(\) expects array\<int, string\>, array\<int\|string, array\<int, string\>\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php

		-
			message: '#^Parameter \#2 \$eagerLoads of method Siro\\Core\\DB\\EagerLoader\:\:load\(\) expects array\<string, array\<int, string\>\>, array\<string, array\<int\|string, array\<int, string\>\|string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: Model.php
