parameters:
    level: max
    paths:
        - .
    excludePaths:
        - vendor/
        - tests/
        - scripts/
        - tools/
    scanFiles:
        - vendor/phpunit/phpunit/src/Framework/Assert.php
includes:
    - phpstan-baseline.neon
